/* Works on Chrome, Edge, and Safari */
/* Taken from https://github.com/tahir-zaqout/sundae_theme/tree/master/sundae_theme/public/css */
:root{
    --main-color: #691551;
    --second-color: #af3d8f;
    --third-color: #a5488a;
    --widget-bg: #e8eafcad ;
}
[data-theme=modern_ui_theme]{
    --primary: var(--main-color);
    --dt-primary-color: var(--main-color);
    --blue-avatar-bg: var(--main-color);
    --blue-avatar-color: var(--main-color);
    --blue: var(--main-color)
}

[data-theme=modern_ui_theme] .page-container,
[data-theme=modern_ui_theme] .layout-main-section {
    background-color: var(--widget-bg);
}
[data-theme=modern_ui_theme] ul li a:hover {
    background-color: var(--second-color);
    color: #fff;
}
/* Main */
[data-theme=modern_ui_theme] body {
	font-size: 14px;
	background-color: #f3f6f9;
}
[data-theme=modern_ui_theme]a {
    color: #666;
	font-weight: 500;
}
[data-theme=modern_ui_theme] .small, small {
    font-size: 95%;
}
[data-theme=modern_ui_theme] .h6.uppercase, h6.uppercase {
    font-weight: 600;
	font-size: 11.5px;
}

/* Navigation Bar */
[data-theme=modern_ui_theme] .standard-sidebar-item.selected{
    background: linear-gradient(to right, var(--main-color), var(--second-color));
}
[data-theme=modern_ui_theme] .standard-sidebar-item.selected a{
    color: #fff;
}
[data-theme=modern_ui_theme] .standard-sidebar-item.selected a svg{
    fill: #fff;
}
[data-theme=modern_ui_theme] .standard-sidebar-item:hover{
    background-color: var(--second-color);
}
[data-theme=modern_ui_theme] .standard-sidebar-item:hover a,
[data-theme=modern_ui_theme] .standard-sidebar-item:hover svg{
    color: #fff;
    fill: #fff;
}



[data-theme=modern_ui_theme] .navbar {
    background: linear-gradient(to right, var(--main-color), var(--second-color)) !important;
    border: none !important;
}
[data-theme=modern_ui_theme] .navbar-nav>li>a{
	color:#fff !important;
}
[data-theme=modern_ui_theme] .navbar-nav>li>a:hover{
	color:#ddd !important;
}
[data-theme=modern_ui_theme] .navbar-brand:hover {
	color:#ddd !important;
}

/* Widgets */
[data-theme=modern_ui_theme] .widget {
    background-color: var(--widget-bg);
	border: none;
	box-shadow: 0px 3px 12px 0px var(--widget-bg), 0 3px 3px -2px #461a7714;
}
[data-theme=modern_ui_theme] .widget.shortcut-widget-box .widget-head .widget-title i {
    color: var(--third-color);
}
[data-theme=modern_ui_theme] .widget.shortcut-widget-box .widget-head .widget-title:hover span{
    color: var(--main-color);
}
[data-theme=modern_ui_theme] .widget-body .link-item:hover{
    color: #fff;
    background: var(--third-color);
}
/* Sidebar */
[data-theme=modern_ui_theme] .desk-sidebar .desk-sidebar-item {
    font-size: 13px;
    font-weight: 600;
	color: var(--widget-bg);
}
[data-theme=modern_ui_theme] .layout-side-section {
    font-size: 14px;
}
[data-theme=modern_ui_theme] .uppercase {
    color:var(--third-color);
}

/* Dropdowns */
[data-theme=modern_ui_theme] .dropdown-menu>li>a {
    font-size: 13px;
	color:#666;
	font-weight: 500;
}
[data-theme=modern_ui_theme] .awesomplete > ul > li[aria-selected=true]{
    background-color: transparent;
}
[data-theme=modern_ui_theme] .awesomplete > ul > li:hover{
    background: linear-gradient(to right, var(--main-color), var(--second-color));
}
[data-theme=modern_ui_theme] .awesomplete > ul > li:hover a{
    color: #fff;
}
/* Page Heading */
[data-theme=modern_ui_theme] .page-head {
    border-bottom: none !important;
    box-shadow: 0 1px 10px 1px rgba(115, 108, 203, 0.1);
}
[data-theme=modern_ui_theme] .page-title .title-text {
	color: var(--third-color);
	font-size: 22px;
}
[data-theme=modern_ui_theme] .widget .widget-head .widget-title,
[data-theme=modern_ui_theme] .section-head,
[data-theme=modern_ui_theme] .comment-input-header {
    font-size: 14px;
	color: var(--third-color);
}

/*Main Section */
[data-theme=modern_ui_theme] .list-row-head {
    background-color: #f3f6f9;
    border-bottom: 1px solid #e4e4e4 !important;
}

/* Buttons */
[data-theme=modern_ui_theme] .btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
[data-theme=modern_ui_theme] .control-label, .grid-heading-row {
    font-size:13px;
}
[data-theme=modern_ui_theme] .btn-default:hover,
[data-theme=modern_ui_theme] .btn-default:focus, .btn-default.focus,
[data-theme=modern_ui_theme] .btn-default:active, .btn-default.active,
[data-theme=modern_ui_theme] .open > .dropdown-toggle.btn-default {
    background-color: var(--third-color) !important;
    color: #fff !important;
}
[data-theme=modern_ui_theme] .btn-default:hover svg{
    stroke: #fff !important;
    fill: #fff !important;
    color: #fff !important;
}
[data-theme=modern_ui_theme] .btn-primary:hover,
[data-theme=modern_ui_theme] .btn-primary:focus, .btn-primary.focus,
[data-theme=modern_ui_theme] .btn-primary:active, .btn-primary.active,
[data-theme=modern_ui_theme] .open > .dropdown-toggle.btn-primary {
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}
[data-theme=modern_ui_theme] .btn-secondary,
[data-theme=modern_ui_theme] .btn-secondary:focus, .btn-secondary.focus,
[data-theme=modern_ui_theme] .btn-secondary:active, .btn-secondary.active,
[data-theme=modern_ui_theme] .open > .dropdown-toggle.btn-secondary {
    background-color: var(--third-color);
    color: #fff;
}

[data-theme=modern_ui_theme] .btn-secondary:hover{
    background-color: var(--main-color);
    color: #fff;
}
[data-theme=modern_ui_theme] .indicator-right.blue:after, .indicator.blue:before {
    background: var(--third-color);
}

/*Other Components*/
[data-theme=modern_ui_theme] input[type=checkbox]:checked:before {
    color: var(--third-color);
}
[data-theme=modern_ui_theme] input[type=checkbox]:checked{
    background: var(--main-color);
}
[data-theme=modern_ui_theme] .frappe-control .ql-editor:not(.read-mode){
    background: var(--widget-bg);
}
[data-theme=modern_ui_theme] .input-with-feedback,
[data-theme=modern_ui_theme] .like-disabled-input{
    background-color: #e8eafcad;
}
[data-theme=modern_ui_theme] .document-link-badge span{
    background-color: var(--main-color) !important;
    color: #fff;
}

[data-theme=modern_ui_theme] .document-link-badge{
    background-color: var(--widget-bg)!important;
}
[data-theme=modern_ui_theme] .document-link button{
    background: var(--third-color) !important;
    color: #fff !important;
}

[data-theme=modern_ui_theme] .document-link button svg{
    fill: white;
    stroke: white;
}
[data-theme=modern_ui_theme] .indicator-pill.gray,
[data-theme=modern_ui_theme] .indicator-pill-right.gray,
[data-theme=modern_ui_theme] .indicator-pill-round.gray {
    background: var(--third-color);
    color: #fff;
}
[data-theme=modern_ui_theme] .indicator-pill.green,
[data-theme=modern_ui_theme] .indicator-pill-right.green,
[data-theme=modern_ui_theme] .indicator-pill-round.green {
    color: var(--main-color);
}

[data-theme=modern_ui_theme] .notifications-icon svg{
    stroke: #fff;
    fill: #fff;
}

[data-theme=modern_ui_theme] #page-Workspaces .page-head{
    background: var(--widget-bg);
}